*{
margin: 0;
padding: 0;
}
body {
   /* background: #0b0b0d80 */
   background: rgb(5,7,41) url(img/Background.png);
background-repeat: no-repeat;
background-size: cover;
}

.item,.support{
    list-style-type: none;
   }

   .wrapper {
      width: 1440px;
      margin: 0 auto;
      display: flex;
    
   }

 

.aside-block
{
   box-sizing: border-box;
   width: 350px;
   background: #0B0B0D;
   color: #fff;
   text-align: center;
   padding: 70 50 100 50;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: 7px;
}

.aside-block li{
   padding-top: 40px;
}


.active{
   color: blueviolet;
}


.item  li:hover{
   color: #F2C94C;
}

.item  .active:hover{
   color: blueviolet;
}

.support{
   margin-top: 100px;
}


.support  li:hover{
   color: #F2C94C;
   
}

.copy{
   margin-top: 100px;
   font-size: 8px;
   letter-spacing: normal;
}


.main
{
   width: 1090;
   position: relative;
   color: #fff;
  
  }

.main-2
{ color: #fff;
   /* width: 1090; */
   display: flex;
   background-color: #fff;
   border-radius: 21px;

   margin-left: 100px;
   margin-top: 100px;
}

.main-container {
  
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 100px;
   margin-left: 70px;
}
.main-container-2{
   /* box-sizing: border-box; */
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
   padding-top: 100px;
   padding-left: 50px;
   width: 500px;
   /* height: 400px; */
   /* background-color: #816c6c; */
}

.hr-line{ 
   width:50px;  
   background-color:#a276ff; 
   height: 5px;
}
.gread-container h1 {
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}
.photo-item{
   color: #000;

}
.cards {   
    display: grid;
   grid-template-columns: repeat(4,200px);
   gap: 100px 100px;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 50px;
}

.item1 {
   background: url(img/70435438-11AA-4870-9F06-65BFC991AA4A-1.png);
   height: 156px; 
  width: 259px;
}

.item1:hover {
    background: url(img/Y70435438-11AA-4870-9F06-65BFC991AA4A-1.png);
    height: 156px; 
  width: 259px;
}
   
.item2 {
   background: url(img/70435438-11AA-4870-9F06-65BFC991AA4A-2.png);
   height: 156px; 
  width: 259px;
}

.item2:hover {
    background: url(img/Y70435438-11AA-4870-9F06-65BFC991AA4A-2.png);
    height: 156px; 
  width: 259px;
}

.item3 {
   background: url(img/70435438-11AA-4870-9F06-65BFC991AA4A-3.png);
   height: 156px; 
  width: 259px;
}

.item3:hover {
    background: url(img/Y70435438-11AA-4870-9F06-65BFC991AA4A-3.png);
    height: 156px; 
  width: 259px;
}

.item4 {
   background: url(img/70435438-11AA-4870-9F06-65BFC991AA4A-4.png);
   height: 156px; 
  width: 259px;
}

.item4:hover {
    background: url(img/Y70435438-11AA-4870-9F06-65BFC991AA4A-4.png);
    height: 156px; 
  width: 259px;
}

.news{
   display: flex;
   /* font-family: Oswald; */
   font-size: 42;
   margin-top: 100px;
}
.item6 {
   background: url(img/Downward.svg);
   background-repeat: no-repeat;
   height: 34px; 
  width: 37px;
  margin-top: 10px;
  margin-left: 10px;
}

.item6:hover {
    background: url(img/YDownward.svg);
    background-repeat: no-repeat;
    height: 34px; 
  width: 37px;
}
.social-block {
   position: absolute;
   background-color: #a276ff;
   /* width: 200px; */
   display: flex;
   justify-content: space-around;
   padding-top: 15px;
   padding-bottom: 15px;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   right: 0;
   background: url(img/Social.svg);
   background-repeat: no-repeat;
   height: 73px; 
   width: 232px;
   /* margin-left: 1000px; */
}

.social-block:hover {
   background: url(img/YSocial.svg);
   background-repeat: no-repeat;
   height: 73px; 
   width: 232px
}

.info a {
   border: 2px solid #fff;
   padding: 20px 100px 20px 100px;
   color: #fff;
   text-decoration: none;
   border-radius: 15px;
   margin-bottom: 200px;
   
}
.info a:hover {
   border:2px solid #F2C94C;
}

.zg-center
{
   
   margin-top: 10px;
}

.zg-center-1 {
   color: blueviolet;
   font-size: 48px;
}

.zg-center-1:hover{
   color: #F2C94C;
}

.text-center{  
   margin-bottom: 50px;
}

.and{
   font-size: 29px;
}

.photo-item{
 
   margin-left: 180px;
   font-size: 10px;
   font-style: normal;
}